div {
}

body {
    padding:  0;
    margin:  0;
    height: 100%;
    width: 100%;
}




div.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

div.outer-bar {
    width: 40%;
    height: 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    vertical-align: center;
}



div.inner-bar {
    width: 0%;
    height: 100%;
    background: black;
}

section.hidd-header, section.header {
    position: fixed;
    top: 0;
    height: 10%;
    line-height: 10vh;
    padding: 0 3%;
    width:  100%;
    font-size: 110%;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 10px 4px #eee;
    background: white;
}

form.keyinput {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
}

input.keyinput {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);

    padding: 1em 3em;
    text-align: center;
    border: none;
    outline: none;
    font-size: 90%;
    font-family: courier, monospace;
    background: #f8f8f8;
    border-radius: 3em;
}


section.left, section.right {
    top: 10%;
    position: fixed;
    display: inline-block;
    overflow: scroll;
}

section.left {
    width: 40%;
    padding: 2.5vh 2.5vw;
    font-size: 80%;
    height: 85%;
}

section.right {
    right: 0;
    width: 50%;
    height: 87.5vh;
    padding: 0 2.5vw 2.5vh 2.5vw;

}

section.hidd {
    position: fixed;
    z-index: 3;
    left: 45%;
    width: 55%;
    height: 100%;
    background: white;
    box-shadow: 0px 0px 10px 4px #eee;
    transform: translateX(100%);
}

div.close-hidd {
    right: 0;
    top: 4%;
    width: 2vh;
    height: 2%;
    position: fixed;
    right: 3%;
    background: black;
    cursor: pointer;
}


div.input-text {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 5%;
    text-align: right;
    transform: translateY(-50%);
}

div.input-text-match {
    position: fixed;
    display: inline-block;
    width: 91.5%;
    top: 5%;
    text-align: right;
    transform: translateY(-50%);
    font-size: 90%;
}

label.match-type {
    padding: 0 1%;
    display: inline-block;
}

form.replaceform, form.searchform {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20%;
    margin: 0  3.5%;
}


form.replaceform { width:44.44%; }


input.ashtml {
    position: fixed;
    top: 50%;
    right: 21%;
    transform: translateY(-60%);
    border: solid thin;
}

input.replaceinput, input.search {
    padding: 0.5%;
    outline: none;
    width: 100%;
    padding: 0.75em 3em;

    border: none;
    outline: none;
    font-size: 90%;
    font-family: courier, monospace;
    background: #f8f8f8;
    border-radius: 3em;

}



select.course-selection {
    width: 25%;
    padding: 1em;
}

section.match-table, section.table {
    position: fixed;
    height: 82vh;
    width: 50%;
    overflow: scroll;
}

section.match-table { width: 95%; }

div.match-row, div.canvas-row {
    display: block;
    border-top: solid thin #eee;
    font-size: 75%;
}

div.canvas-row {
    display: block;
    border-top: solid thin #eee;
    font-size: 75%;
    width: 100%;
}

div.match-row {
    display: inline-block;
    width: 100%;
    border-top: solid thin #eee;
    font-size: 75%;
}

div.canvas-item, div.row-header,
div.match-item, div.match-head {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
}


div.row-header, div.match-head {
    border-bottom: solid medium #eee;
    line-height: 7.5vh;
    padding: 0;
    margin: 0;
}

div.match-row:hover,
div.match-head:hover,
div.canvas-row:hover,
div.row-header:hover { background: #eee; }

div.match-row:active,
div.match-head:active,
div.canvas-row:active,
div.row-header:active { background: #ddd; }


div.canvas-html { display: none }
div.canvas-id, div.head-id { width: 20% }
div.canvas-name, div.head-name { width: 60% }
div.canvas-type, div.head-type { width: 20% }

div.head-match-check, div.match-check   { width: 3% }
div.head-match-id, div.match-id   { width: 10% }
div.head-match-name, div.match-name { width: 27% }
div.head-match-type, div.match-type { width: 20% }
div.head-match-text { width: 43%; }
div.match-text { width: 40% }

div.canvas-name { text-align: left; }

div.match-body { padding: 11.111% 2.5% 2.5% 2.5%; }

