
::-webkit-scrollbar {
    /*/ display: none; /**/
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 1.3vw;
  font-family: "arial"
}

/* HEADERS */

section.head {
  z-index: 0;
  top: 0;
  width: 100%;
  height: 8%;
  color: #ddd;
  position: fixed;
  background: black;
}


div.title {
  position: fixed;
  top: 4%;
  left: 5%;
  height: 3vw;
  line-height: 3vw;
  display: inline-block;
  letter-spacing: 0.3vw;
  transform: translate(0, -50%);
}

select, input, form {
  font-size: 1.3vw;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.head select, .head input[type="text"] {
  position: fixed;
  top: 4%;
  transform: translate(0, -50%);
  width: 35%;
  outline: none;
  border: none;
  background: transparent;
  color: #ddd;
  height: 3vw;
  display: block;
}


.head input {  left: 13%; }
.head select { 
  left: 51%; 
  transform: translate(0.3vw, -50%);
}

input[type="submit"] {
  display: none;
  width: 0;
  padding: 0;
  margin: 0;
}

input.searchbar {
  text-align: right; 
  width: 2%;
}


/* API KEY FORM */

p#api-key-error {
  font-family: "courier";
  color: red;
}

section.access-key {
  border-top: solid medium;
  border-bottom: solid medium;
  z-index: 1;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
}

form.access-key {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

input.access-key {
  display: inline-block;
  width: 60%;
  text-align: center;
  padding: 2% 0;
  font-family: "courier";
  outline: none;
  border: none;
  border-bottom: solid thin #ddd;
}

p.access-key {
  padding: 0;
  margin: 0;
}

/* THE TABLE THING */

section.wrapper {
  position: fixed;
  top: 8%;
  right: 0;
  width: 46%;
  height: 92%;
  overflow: scroll;
  padding: 0 2%;
}

table.wrapper {
  width: 100%;
}

/* HTML WRAPPER */

section.html-wrapper {
  position: fixed;
  overflow: scroll;
  transform: translateY(8%);
  float: left;
  margin: 0;
  padding: 5% 3%;
  width: 44%;
  height: 77%;
  border-right: solid medium black;
}



div.html-wrapper {
  position: absolute;
  font-size: 70%;
  padding: 0;
  margin: 0;
}


/* RESULTS HEADER */

.results label {
  position: relative;
  top: 50%;
  padding: 2%;
  transform: translate(30%, -50%);
}

.results div.close {
  position: relative;
  float: right;
  padding: 1% 2%;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}

.results select {
  background: black;
}

/* SEARCH RESULTS */

section.results-head div {
  color: white;
}

section.results-head {
  z-index: 400;
  position: fixed;
  top: 0%;
  right: 0;
  height: 8%;
  width: 0;
  color: #ddd;
  background-color: black;
  transition: 0.5s;
}

section.results {
  transition: 0.5s;
  position: fixed;
  z-index:3;
  background: white;
  border: none;
  height: 100%;
  width: 0;
  top: 0%;
  right: 0;
}

section.results-wrapper {
  overflow: scroll;
  position: fixed;
  width: 50%;
  height: 92%;
  top: 8%;
}

table.results {
  margin: 0 2%;
  width: 92%;
}



section, input, div, select, table, input, form, th, td, tr {
  /*/ border: solid thin; /**/
}


/* table in general */

th, td, tr {
  padding: 1vw;
}